.Footer {
	background-color: $mainColor;
	height: 220px;
	width: 100%;

	&-column {
		align-items: center;
		justify-content: space-evenly;
	}

	&-link {
		color: $footerLinks;

		@include OnPointerEvent {
			color: $white;
		}
	}
}
